.transaction {
  margin-top: 20px;
  background-color: rgb(243, 238, 231);
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.transactionHistory {
  width: 500px;
  background-color: beige;
  border-radius: 25px;
}

.title {
  font-size: 29px;
  font-weight: bold;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.header {
  background-color: antiquewhite;
}

.tableElemets tr:nth-child(2n) {
  background-color: #efebd4;
}

.tableElemets tr:hover,
.tableElemets tr:focus {
  box-shadow: inset 0 0 0 2em #ebe6ce;
}
